@import './src/App.scss';

.navbar {
    display: flex;
    gap: 20px
}

.link.active {
  position: relative;
}

.link.active:hover {
  text-decoration: none;
}

.link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: black;
  animation: slider 0.5s forwards;
}

.link.inactive {
  animation: reverseSlider 0.5s forwards; /* Ajusta la duración de la animación */
}

@keyframes slider {
  to {
    width: 100%;
  }
}

@keyframes reverseSlider {
  to {
    width: 0%;
  }
}

@media (max-width: $tablet-width) {
    .navbar {
      display: none
    }
  }