@import './src/App.scss';

.header-menu {
    position: absolute;
    width: inherit;
    z-index: 1;
    margin-top: $navLinkHeight;
    width: 100%;
}

.header-menu.open {
  background: white;
  animation: fallDown 0.5s;
}

@keyframes fallDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
  
  .tab-content {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
  }
  
  .tab-content.active {
    border-bottom: 1px solid gray;
    padding: 20px;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
